[Unit]
Description=frp client
After=network.target

[Service]
Restart=always
RestartSec=30s
ExecStart=$HOME/frp-client/run.sh

[Install]
WantedBy=default.target
