[Unit]
Description=frp client
After=network.target

[Service]
Restart=always
RestartSec=30s
ExecStart=$HOME/aifi_mpu/tools/frpc/run.sh

[Install]
WantedBy=default.target
